
  
  main > section#container-presentation{
    background-image: url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    opacity: 0.9;
  }
  
  main > section#container-presentation > h2{
    font-size: 4em;
  }
  
  main > section#container-presentation > h3{
    font-size: 3em;
  }
  
  main > section#container-presentation > h2, h3{
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  main section#container-me, section#container-skills{
    padding: 24px;
  }
  
  main section#container-me > img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 8px;
  }
  
  main section#container-skills > em{
    font-style: normal;
    font-weight: bold;
  }