
  
  main > section#container-presentation{
    background-image: url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    opacity: 0.9;
  }
  
  main > section#container-presentation > h2{
    font-size: 4em;
  }
  
  main > section#container-presentation > h3{
    font-size: 3em;
  }
  
  main > section#container-presentation > h2, h3{
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  main article#container-me,article#container-skills{
    padding: 24px;
  }
  
  main article#container-me > img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 8px;
  }
  
  main article#container-skills > em{
    font-style: normal;
    font-weight: bold;
  }

  div.modal-header > button{
    filter: invert(100%);
  }

  div.modal-body > section > img{
    object-fit: cover;
  }

  div.modal-body aside img{
    display: block;
    width: 24px;
    height: 24px;
    filter: invert(100%);
  }

  @media all and (max-width: 767px){


    div.modal-body > section{
      flex-direction: column;
    }

    div.modal-body > section > *{
      min-width: 100%;
    }

    div.modal-body > section > aside{
      margin-top: 16px;
    }
  }