main > div.img-banner{
  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 100%;
}

div#container-services img{
  display: block;
  width: 96px;
  height: 96px;
  filter: invert(30%) sepia(33%) saturate(4131%) hue-rotate(191deg) brightness(99%) contrast(98%);
}