@font-face {
  font-family: 'NunitoSansRegular';
  src: url('./fonts/NunitoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoSansBold';
  src: url('./fonts/NunitoSans-Bold.ttf');
}

h1, h2, h3, strong{
  font-family: 'NunitoSansBold';
}

p, em, a{
  font-family: 'NunitoSansRegular';
} 

div.card{
  -webkit-transition-property: background-color, box-shadow;
  -moz-transition-property: background-color, box-shadow;
  -o-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;

  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
}

div.card:hover{
  background-color: #efefef;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

/* HOME PAGE
main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

main > section:first-of-type{
  background-image: url('./img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
}

main > section:first-of-type > h2{
  font-size: 4em;
}

main > section:first-of-type > h3{
  font-size: 3em;
}

main > section:first-of-type > h2, h3{
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

main > section:first-of-type > button{
  display: block;
  width: max-content;
  padding: 6px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
}

main > section:not(section:first-of-type){
  padding: 24px;
}

main > section > img{
  width: 100%;
  object-fit: cover;
  margin-bottom: 8px;
}

main > section > em{
  font-style: normal;
  font-weight: bold;
}

main > section > div{
  width: 100%;
  border-radius: 48px;
  background-color: gray;
  height: 16px;
  margin-bottom: 16px;
}

main > section > div > div{
  height: 100%;
  border-radius: 48px 0px 0px 48px;
}

main > section > div:first-of-type > div{
  width: 90%;
}

main > section > div:nth-of-type(2) > div{
  width: 80%;
}

main > section > div:nth-of-type(3) > div{
  width: 70%;
}

main > section > div:nth-of-type(4) > div{
  width: 60%;
}

main > section > div:last-of-type > div{
  width: 50%;
}
HOME PAGE */

/* CONTACT PAGE
main img{
  display: block;
  width: 20px;
  height: 20px;
}

main iframe{
  width: 100%;
}
*/

/* MENTIONS PAGE 
main img{
  display: block;
  width: 24px;
  height: 24px;
}
*/

/* PORTFOLIO PAGE
main > div:first-of-type{
  background-image: url('./img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
}
*/

/* SERVICES PAGE
main > div:first-of-type{
  background-image: url('./img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
}

main img{
  width: 48px;
  height: 48px;
  filter: invert(30%) sepia(88%) saturate(1735%) hue-rotate(191deg) brightness(91%) contrast(98%);
}
  */

